body {
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace
}
#main-container {
    background : url('../images/7182904fc824379d27e601cc289e59bb.jpg');
    background-size : 1360px 768px;
    opacity : 50%;
    padding : 200px 0px;
    background-repeat: no-repeat;
}


#countdown-timer {
    text-align: center;
    font-size : 40px;
    color : red;
    font-weight: bold;
}

#rainbow, .question-box, .button{
    font-size : 75px;
    text-align: center;
    /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: rgb(221, 180, 165);}
	40%{color: rgb(170, 75, 32);}
	60%{color: palegreen;}
	80%{color: paleturquoise;}
	100%{color: rgb(18, 214, 198);}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: rgb(221, 180, 165);}
	40%{color: rgb(170, 75, 32);}
	60%{color: palegreen;}
	80%{color: paleturquoise;}
	100%{color: rgb(18, 214, 198);}	
}

/* Standar Syntax */
@keyframes rainbow{
	5%{color: rgb(221, 180, 165);}
	35%{color: rgb(170, 75, 32);}
	65%{color: palegreen;}
	85%{color: paleturquoise;}
	0%{color: rgb(18, 214, 198);}	
} 

.question-box {
    text-align: center;
    color : rgb(241, 55, 170);
}
.answer-box {
    text-align: center;
    font-weight: bold;
}

.button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight : bold;
}

.start {
    text-align: center;
}

div {
    background-color: none;
}